# Environnement Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers de développement
.idea/
.vscode/
*.swp
*.swo

# Dossiers spécifiques au projet
downloads/

# Fichiers Windows
*.lnk
Thumbs.db
desktop.ini 